<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>demo</title>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <label>输入公式</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">公式</span>
            </div>
            <input type="text" class="form-control" v-model="formula">
        </div>
        <!-- 示例公式 -->
        <button
            v-for="(formulaDemoItem, index) in formulaDemo"
            :key="index"
            type="button"
            class="btn btn-primary mr10"
            @click="formula = formulaDemoItem">
            {{formulaDemoItem}}
        </button>
        <p class="mt10">
            <span
                v-for="(formulaItem, index) in formulaArray"
                :key="index">
                <template v-if="formulaItem.type === 'variable'">
                    <span class="badge badge-primary">{{formulaItem.label}}</span>
                </template>
                <template v-if="formulaItem.type === 'operator'">
                    <span class="badge badge-secondary">{{formulaItem.label}}</span>
                </template>
                <template v-if="formulaItem.type === 'constant'">
                    <span class="badge badge-success">{{formulaItem.label}}</span>
                </template>
            </span>
        </p>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            // 公式文本
            formula: '',
            // 解析后的公式
            formulaArray: [],
            // 公式示例
            formulaDemo: [
                '(FR1+FR2)*12+10',
                'FR3*(FR1+FR2)*1.2+0.5',
                '2+FR1/4'
            ],
            // 符号
            operatorOptions: [
                {label: '+', value: '+'},
                {label: '-', value: '-'},
                {label: 'x', value: '*'},
                {label: '÷', value: '/'},
                {label: '(', value: '('},
                {label: ')', value: ')'}
            ],
            // 变量
            variableOptions: [
                {label: 'FR-1', value: 'FR1'},
                {label: 'FR-2', value: 'FR2'},
                {label: 'FR-3', value: 'FR3'},
                {label: 'FR-4', value: 'FR4'},
                {label: 'FR-5', value: 'FR5'}
            ]
        },
        computed: {
            operatorReg: function () {
                return this.operatorOptions.map(function (variable) {
                    return variable.value
                }).join('|')
            },
            variableReg: function () {
                return this.variableOptions.map(function (variable) {
                    return variable.value
                }).join('|')
            }
        },
        watch: {
            formula: function (value) {
                this.getNumber()
            }
        },
        methods: {
            getNumber: function () {
                var _this = this
                var reg = /(FR1|FR2|FR3)|(\+|-|\*|\/|\(|\))|\d+(\.\d+)?/g
                var res = this.formula.match(reg)

                // 检验是否是变量的正则
                var isVariable = new RegExp(this.variableReg, 'g')
                // 检验是否是符号的正则
                var isOperator = /\+|-|\*|\/|\(|\)/
                // 检验是否是常量的正则
                var isConstant = /\d+(\.\d+)?/

                var _res = res.map(function (item) {
                    // 检验变量
                    if (isVariable.test(item)) {
                        return {
                            type: 'variable',
                            value: item,
                            label: _this.variableOptions.find(function (variable) {
                                return variable.value === item
                            }).label
                        }
                    }
                    // 检验变量
                    else if (isOperator.test(item)) {
                        return {
                            type: 'operator',
                            value: item,
                            label: _this.operatorOptions.find(function (operator) {
                                return operator.value === item
                            }).label
                        }
                    }
                    // 检验常量
                    else if (isConstant.test(item)) {
                        return {
                            type: 'constant',
                            value: item,
                            label: item
                        }
                    }
                })
                this.formulaArray = _res
            }
        }
    })
</script>
</html>